<table class="table">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Nota</th>
          <th scope="col">Artista</th>
          <th scope="col">Gênero</th>
          <th scope="col">Ano</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agenda-compromisso of agenda-compromissos">
      <th scope="row">{{agenda-compromisso.id}}</th>
      <td>{{agenda-compromisso.name}}</td>
      <td>{{agenda-compromisso.note}}</td>
      <td>{{agenda-compromissoa.artist}}</td>
      <td>{{agenda-compromissoa.year}}</td>
    </tr>
  </tbody>
</table>




agenda-compromisso
