<div class="container">
  <div class = "display6">
      Agenda de Compromissos
    </div>
    <button class="btn btn-primary"   (click)="create()" >Novo</button>
    <table class="table table-dark table-striped">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Dias</th>
          <th scope="col">Horas</th>
          <th scope="col">Localização</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agendacomp of Agenda">
      <th scope="row">{{agendacomp.id}}</th>
      <td><a [routerLink]="['Agenda/', agendacomp.id]">{{agendacomp.name}}</a> </td>
      <td>{{agendacomp.name}}</td>
      <td>{{agendacomp.days1}}</td>
      <td>{{agendacomp.hours2}}</td>
      <td>{{agendacomp.location3}}</td>
      <td><button class ="btn btn-danger" (click)="delete(agendacomp)" >Remover</button> </td>
    </tr>
  </tbody>
  <table>


